# Content Based Recommendation System

# Q1 Read the Dataset `movies_metadata.csv`

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("movies_metadata-1.csv")

C:\Users\pn9220\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0


# Q2 Create a new column with name 'description' combining 'overview' and 'tagline' columns in the given dataset

In [4]:
df["description"] = df["overview"] + df["tagline"]

In [5]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...

# Q3  Lets drop the null values in `description` column

In [6]:
df["description"] = df["description"].dropna()

In [7]:
df.shape

(45466, 25)

# Q4 Keep the first occurance and drop duplicates of each title in column 'title'

In [8]:
df = df.drop_duplicates(['description'],keep="first")

In [9]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...

# Q5   As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [10]:
df = df.reset_index(drop=True)

# Q6    Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

Hint:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,2),stop_words='english', min_df = 0.001)

In [13]:
df['description'] = df['description'].values.astype('U')
tf_idf_vect.fit(df['description'])
title_matrix = tf_idf_vect.transform(df["description"])

In [14]:
title_matrix

<20393x5437 sparse matrix of type '<class 'numpy.float64'>'
	with 504293 stored elements in Compressed Sparse Row format>

# Q7  Create cosine similarity matrix

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
cosine_matrix = cosine_similarity(title_matrix)

# Q8  Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

Hint:

titles = df['title'] <br>
indices = pd.Series(df.index, index=df['title']) <br>

def recommend(title): <br>
    idx = indices[title] <br>
    sim_scores = list(enumerate(cosine_similarities[idx])) <br>
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) <br>
    sim_scores = sim_scores[1:31] <br>
    movie_indices = [i[0] for i in sim_scores] <br>
    return titles.iloc[movie_indices] <br>

In [17]:
titles = df['title'] 
indices = pd.Series(df.index, index=df['title']) 

def recommend(title,title_matrix, vectorizer, top_n = 10):
    idx = indices[title] 
    sim_scores = list(enumerate(cosine_matrix[idx])) 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) 
    sim_scores = sim_scores[1:31] 
    movie_indices = [i[0] for i in sim_scores] 
    return titles.iloc[movie_indices]

In [18]:
recommend("Jumanji",title_matrix,tf_idf_vect)

6620                                   Word Wars
2935                          Dungeons & Dragons
18930                                  Beta Test
4528                                   Brainscan
8878                 The Mindscape of Alan Moore
6293                                     Quintet
18120                         The Ouija Exorcism
20338                                       Quiz
19857                                   The Wall
11899                      How to Make a Monster
14868                           The Black Knight
16192                               Turkey Shoot
12526                           Are You Scared 2
15995                                     Pixels
11181                                    Evolver
4983                                Knight Moves
7286                               Grandma's Boy
6317                             Comfort and Joy
13663                                      Ouija
9707                               The Wild Hunt
7395                                  Stay Alive
11598                             Wreck-It Ralph
13500                                      Vinyl
15997    Fantastic Beasts and Where to Find Them
11307                    Appointment with Danger
12586                               Ender's Game
18650                            The Condemned 2
11358                                Geri's Game
11742                           Would You Rather
10745                           The Winning Team
Name: title, dtype: object

# Q9 Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [19]:
recommend("The Godfather",title_matrix,tf_idf_vect)

13071                                           Blood Ties
16558                                     Honor Thy Father
4047                                    Johnny Dangerously
3256                                                  Made
12429                                           The Family
19377                                        Live by Night
8672                                          I Am the Law
15022                                       Outrage Beyond
4888                                              Mobsters
15932    Paolo Barca, maestro elementare, praticamente ...
4225                                   The Young Americans
10353                        Elite Squad: The Enemy Within
3472                                              3 Ninjas
7406                                           Renaissance
3363                                         Harlem Nights
548                                                Thinner
8209                                     Cassandra's Dream
10595                                  The Doorway to Hell
17382                                      All Three of Us
8409                                         The FBI Story
20141                              Mordkommission Berlin 1
9869                                               Machete
10407                                        Henry's Crime
11330      For Greater Glory - The True Story of Cristiada
18684                                      The Maid's Room
9349                                         The Matriarch
19453                                           Life+1 Day
12868                                          Samurai Cop
15294                                       The Connection
9860                                          Urban Menace
Name: title, dtype: object

In [20]:
recommend("The Dark Knight Rises",title_matrix,tf_idf_vect)

113                               Batman Forever
2352                Batman: Mask of the Phantasm
452                                       Batman
14011                          Batman vs Dracula
8306                             The Dark Knight
989                               Batman Returns
9769                  Batman: Under the Red Hood
16601           Batman Unlimited: Monster Mayhem
10855                           Batman: Year One
11802    Batman: The Dark Knight Returns, Part 2
6501          Batman Beyond: Return of the Joker
12316            Batman: Mystery of the Batwoman
7885                                   Slow Burn
19498                      The Lego Batman Movie
6955                               Batman Begins
11633    Batman: The Dark Knight Returns, Part 1
17776                          Batman: Bad Blood
1012                    Night Falls on Manhattan
15706         Batman Unlimited: Animal Instincts
16661                         The Shadow Strikes
4446                                       Q & A
20280                   Batman Beyond: The Movie
7203                                      Edison
1104                              Batman & Robin
2469                                         JFK
16885                                 The Payoff
10777                           The Star Witness
8991                   The File on Thelma Jordon
9224                         Law Abiding Citizen
16237         Batman v Superman: Dawn of Justice
Name: title, dtype: object

# Popularity Based Recommendation System

### About Dataset

Anonymous Ratings on jokes.

1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").

2. One row per user

3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

# Q10 Read the dataset(jokes.csv)

In [23]:
jokes_df= pd.read_csv("jokes-1.csv")
jokes_df.head(2)

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07

# Q11 Consider `ratings` named dataframe with only first 200 rows and all columns from 1(first column is 0) of dataset

In [24]:
ratings = jokes_df.head(200)

# Q12 Change the column indices from 0 to 99

In [25]:
ratings.sample(4)

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
40,73,-4.95,-2.86,2.23,-6.65,5.44,0.97,-0.97,-5.97,-8.74,...,99.00,1.36,99.00,99.00,99.00,99.0,99.00,99.00,2.67,99.00
75,48,99.00,99.00,99.00,99.00,0.05,99.00,1.75,-6.07,99.00,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00
162,36,99.00,99.00,99.00,99.00,1.70,99.00,6.55,0.39,99.00,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00
82,100,3.06,6.50,-7.91,-6.70,6.80,-8.20,7.96,1.41,-8.01,...,8.83,-9.17,3.88,8.69,9.13,-8.5,9.13,9.13,7.48,-8.79

# Q13 In the dataset, the null ratings are given as 99.00, so replace all 99.00s with 0
Hint: You can use `ratings.replace(<the given value>, <new value you wanted to change with>)`

In [26]:
ratings.replace(99,0,inplace=True)

C:\Users\pn9220\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

# Q14 Normalize the ratings using StandardScaler and save them in `ratings_diff` variable

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(ratings)
ratings_diff = scaler.transform(ratings)
ratings_diff.shape

(200, 101)

### Popularity based recommendation system

# Q15  Find the mean for each column  in `ratings_diff` i.e, for each joke
Consider all the mean ratings and find the jokes with highest mean value and display the top 10 joke IDs.

In [32]:
rating_mean =np.mean(ratings_diff,axis=0)

In [33]:
rating_mean = sorted(rating_mean, reverse=True)

In [35]:
ratings_diff

array([[ 0.17851402, -1.85701632,  1.67164929, ..., -0.02685824,
        -0.04144395, -0.16095388],
       [ 1.37166689,  0.78949409, -0.1802773 , ...,  0.07059963,
        -1.36765027,  0.16746078],
       [-0.96874834, -0.11788091, -0.12112987, ..., -0.02685824,
        -0.04144395, -0.16095388],
       ...,
       [ 1.37166689,  0.46479617, -0.89412566, ..., -0.23610604,
         0.18266036, -0.02590486],
       [-1.24409131, -0.11788091, -0.12112987, ..., -0.02685824,
        -0.04144395, -0.16095388],
       [ 0.04084254,  1.12308784, -1.60593445, ..., -0.02685824,
        -0.04144395, -0.16095388]])