# Transfer Learning MNIST

* Train a simple convnet on the MNIST dataset the first 5 digits [0..4].
* Freeze convolutional layers and fine-tune dense layers for the classification of digits [5..9].

## 1. Import necessary libraries for the model

In [1]:
import numpy as np
import pandas as pd
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers.core import Dense,Dropout,Activation,Flatten
from keras.layers.convolutional import Conv2D,MaxPooling2D
from keras.utils import np_utils
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

## 2. Import MNIST data and create 2 datasets with one dataset having digits from 0 to 4 and other from 5 to 9

In [0]:
(x_train, y_train), (x_test, y_test) = mnist.load_data()
x_train_0to4 = x_train[y_train < 5]
y_train_0to4 = y_train[y_train < 5]
x_test_0to4 = x_test[y_test < 5]
y_test_0to4 = y_test[y_test < 5]

x_train_5to9 = x_train[y_train >= 5]
y_train_5to9 = y_train[y_train >= 5] -5
x_test_5to9 = x_test[y_test >= 5]
y_test_5to9 = y_test[y_test >= 5] -5

## 3. Print x_train, y_train, x_test and y_test for both the datasets

In [3]:
print (x_train_0to4[5], y_train_0to4[5], x_test_0to4[5], y_test_0to4[5])
print (x_train_5to9[5], y_train_5to9[5], x_test_5to9[5], y_test_5to9[5])

(array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  38,  43,
        105, 255, 253, 253, 253, 253, 253, 174,   6,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  43, 139, 224, 226,
        252, 253, 252, 252, 252, 252, 252, 252, 158,  14,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 178, 252, 252, 252,
        252, 253, 252, 252, 252, 252, 252, 252, 252,  59,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 109, 252, 252, 230,
        132, 133, 132, 132, 189, 252, 252, 252, 252,  59,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   4,  29,  29,  24,
          0,   0,   0,   0,  14, 226, 252, 252, 172,   7,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,  85, 243, 252, 252, 144,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,  88, 189, 252, 252, 252,  14,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,  91, 212, 247, 252, 252, 252, 204,   9,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  32, 125, 193, 193,
        193, 253, 252, 252, 252, 238, 102,  28,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  45, 222, 252, 252, 252,
        252, 253, 252, 252, 252, 177,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  45, 223, 253, 253, 253,
        253, 255, 253, 253, 253, 253,  74,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  31, 123,  52,  44,
         44,  44,  44, 143, 252, 252,  74,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,  15, 252, 252,  74,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,  86, 252, 252,  74,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   5,  75,   9,   0,   0,   0,   0,
          0,   0,  98, 242, 252, 252,  74,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,  61, 183, 252,  29,   0,   0,   0,   0,
         18,  92, 239, 252, 252, 243,  65,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0, 208, 252, 252, 147, 134, 134, 134, 134,
        203, 253, 252, 252, 188,  83,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0, 208, 252, 252, 252, 252, 252, 252, 252,
        252, 253, 230, 153,   8,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,  49, 157, 252, 252, 252, 252, 252, 217,
        207, 146,  45,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   7, 103, 235, 252, 172, 103,  24,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]], dtype=uint8), 3, array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  22, 192, 134,  32,
          0,   0,   0,   0,   0,   0,   0,   0,  15,  77,   5,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  17, 235, 250, 169,   0,
          0,   0,   0,   0,   0,   0,   0,  15, 220, 241,  37,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  20, 189, 253, 147,   0,   0,
          0,   0,   0,   0,   0,   0,   0, 139, 253, 100,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  70, 253, 253,  21,   0,   0,
          0,   0,   0,   0,   0,   0,  43, 254, 173,  13,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,  22, 153, 253,  96,   0,   0,   0,
          0,   0,   0,   0,   0,  43, 231, 254,  92,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0, 163, 255, 204,  11,   0,   0,   0,
          0,   0,   0,   0,   0, 104, 254, 158,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0, 162, 253, 178,   5,   0,   0,   0,
          0,   0,   0,   9, 131, 237, 253,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0, 162, 253, 253, 191, 175,  70,  70,
         70,  70, 133, 197, 253, 253, 169,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,  51, 228, 253, 253, 254, 253, 253,
        253, 253, 254, 253, 253, 219,  35,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  17,  65, 137, 254, 232, 137,
        137, 137,  44, 253, 253, 161,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  34, 254, 206,  21,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0, 160, 253,  69,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,  85, 254, 241,  50,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0, 158, 254, 165,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0, 231, 244,  50,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        104, 254, 232,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        208, 253, 157,   0,  13,  30,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        208, 253, 154,  91, 204, 161,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        208, 253, 254, 253, 154,  29,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         61, 190, 128,  23,   6,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]], dtype=uint8), 4)
(array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,  11, 203, 229,  32,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  26,  47,  47,  30,  95, 254, 215,  13,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  45, 154,
        185, 185, 223, 253, 253, 133, 175, 255, 188,  19,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 110, 253,
        253, 253, 246, 161, 228, 253, 253, 254,  92,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 128, 245, 253,
        158, 137,  21,   0,  48, 233, 253, 233,   8,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 139, 254, 223,
         25,   0,   0,  36, 170, 254, 244, 106,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  55, 212, 253,
        161,  11,  26, 178, 253, 236, 113,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   7, 155, 253,
        228,  80, 223, 253, 253, 109,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 141, 253,
        253, 253, 254, 253, 154,  29,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 110, 253,
        253, 253, 254, 179,  38,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3, 171, 254,
        254, 254, 179,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 171, 253, 253,
        253, 253, 178,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  26, 123, 254, 253, 203,
        156, 253, 200,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  93, 253, 254, 121,  13,
         93, 253, 158,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  64, 239, 253,  76,   8,  32,
        219, 253, 126,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 133, 254, 191,   0,   5, 108,
        234, 254, 106,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 132, 253, 190,   5,  85, 253,
        236, 154,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 153, 253, 169, 192, 253, 253,
         77,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 112, 253, 253, 254, 236, 129,
          9,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  17, 118, 243, 191, 113,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]], dtype=uint8), 3, array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  49,
        180, 253, 255, 253, 169,  36,  11,  76,   9,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   5,  68, 228,
        252, 252, 253, 252, 252, 160, 189, 253,  92,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  55, 252, 252,
        227,  79,  69,  69, 100,  90, 236, 247,  67,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  43, 233, 252, 185,
         50,   0,   0,   0,  26, 203, 252, 135,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 168, 253, 178,  37,
          0,   0,   0,   0,  70, 252, 252,  63,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 155, 253, 242,  42,   0,
          0,   0,   0,   5, 191, 253, 190,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 207, 252, 230,   0,   0,
          0,   0,   5, 136, 252, 252,  64,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 207, 252, 230,   0,   0,
          0,  32, 138, 252, 252, 227,  16,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 165, 252, 249, 207, 207,
        207, 228, 253, 252, 252, 160,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   9, 179, 253, 252, 252,
        252, 252,  75, 169, 252,  56,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  64, 116, 116,
         74,   0, 149, 253, 215,  21,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0, 253, 252, 162,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,  32, 253, 240,  50,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0, 157, 253, 164,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         43, 240, 253,  92,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         93, 253, 252,  84,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        114, 252, 209,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        207, 252, 116,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        165, 252, 116,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         93, 200,  63,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]], dtype=uint8), 4)

## ** 4. Let us take only the dataset (x_train, y_train, x_test, y_test) for Integers 0 to 4 in MNIST **
## Reshape x_train and x_test to a 4 Dimensional array (channel = 1) to pass it into a Conv2D layer

In [0]:
x_train = x_train_0to4
y_train = y_train_0to4
x_test = x_test_0to4
y_test = y_test_0to4

In [5]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(30596, 28, 28)
(30596,)
(5139, 28, 28)
(5139,)

In [0]:
x_train = x_train.reshape(x_train.shape[0], 28, 28, 1)
x_test = x_test.reshape(x_test.shape[0], 28, 28, 1)

## 5. Normalize x_train and x_test by dividing it by 255

In [7]:
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')

#Normalizing the input
x_train /= 255
x_test /= 255
print('x_train shape:', x_train.shape)
print(x_train.shape[0], 'train samples')
print(x_test.shape[0], 'test samples')

('x_train shape:', (30596, 28, 28, 1))
(30596, 'train samples')
(5139, 'test samples')

## 6. Use One-hot encoding to divide y_train and y_test into required no of output classes

In [0]:
import keras
batch_size = 128
num_classes = 5
epochs = 12
# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [9]:
print(y_train[0])

[1. 0. 0. 0. 0.]

## 7. Build a sequential model with 2 Convolutional layers with 32 kernels of size (3,3) followed by a Max pooling layer of size (2,2) followed by a drop out layer to be trained for classification of digits 0-4

In [10]:
input_shape = (28, 28, 1)

#Initialize the model
model = Sequential()

#Add a Convolutional Layer with 32 filters of size 3X3 and activation function as 'ReLU' 
model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape,name='conv_1'))

#Add a MaxPooling Layer of size 2X2 
model.add(MaxPooling2D(pool_size=(2, 2),name='max_1'))

#Apply Dropout with 0.25 probability 
model.add(Dropout(0.25,name='drop_1'))

WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

## 8. Post that flatten the data and add 2 Dense layers with 128 neurons and neurons = output classes with activation = 'relu' and 'softmax' respectively. Add dropout layer inbetween if necessary

In [0]:
#Flatten the layer
model.add(Flatten())

#Add Fully Connected Layer with 128 units and activation function as 'ReLU'
model.add(Dense(128, activation='relu',name='dense_1'))

#Apply Dropout with 0.5 probability 
model.add(Dropout(0.5,name='drop_2'))

#Add Fully Connected Layer with 10 units and activation function as 'softmax'
model.add(Dense(num_classes, activation='softmax',name='dense_2'))

## 9. Print the training and test accuracy

In [12]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
model.fit(x_train,y_train,batch_size=200,nb_epoch=12,verbose=1,validation_data=(x_test,y_test))

WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Train on 30596 samples, validate on 5139 samples
Epoch 1/12
30596/30596 [==============================] - 4s 131us/step - loss: 0.1912 - acc: 0.9419 - val_loss: 0.0476 - val_acc: 0.9860
Epoch 2/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0693 - acc: 0.9795 - val_loss: 0.0297 - val_acc: 0.9891
Epoch 3/12
30596/30596 [==============================] - 1s 36us/step - loss: 0.0454 - acc: 0.9870 - val_loss: 0.0179 - val_acc: 0.9930
Epoch 4/12
30596/30596 [==============================] - 1s 36us/step - loss: 0.0334 - acc: 0.9898 - val_loss: 0.0133 - val_acc: 0.9963
Epoch 5/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0268 - acc: 0.9920 - val_loss: 0.0145 - val_acc: 0.9938
Epoch 6/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0211 - acc: 0.9936 - val_loss: 0.0108 - val_acc: 0.9969
Epoch 7/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0179 - acc: 0.9942 - val_loss: 0.0089 - val_acc: 0.9969
Epoch 8/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0162 - acc: 0.9953 - val_loss: 0.0078 - val_acc: 0.9973
Epoch 9/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0147 - acc: 0.9954 - val_loss: 0.0079 - val_acc: 0.9977
Epoch 10/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0136 - acc: 0.9957 - val_loss: 0.0067 - val_acc: 0.9973
Epoch 11/12
30596/30596 [==============================] - 1s 35us/step - loss: 0.0127 - acc: 0.9961 - val_loss: 0.0069 - val_acc: 0.9977
Epoch 12/12
30596/30596 [==============================] - 1s 36us/step - loss: 0.0099 - acc: 0.9967 - val_loss: 0.0066 - val_acc: 0.9981

In [13]:
#Testing the model on test and train set
score = model.evaluate(x_test, y_test)
print('Test accuracy:', score[1])
score = model.evaluate(x_train, y_train)
print('Train accuracy:', score[1])

5139/5139 [==============================] - 0s 51us/step
('Test accuracy:', 0.9980540961276513)
30596/30596 [==============================] - 2s 49us/step
('Train accuracy:', 0.9992155837364362)

## 10. Make only the dense layers to be trainable and convolutional layers to be non-trainable

In [14]:
#Freezing layers in the model which don't have 'dense' in their name
for layer in model.layers:
  if('dense' not in layer.name): #prefix detection to freeze layers which does not have dense
    #Freezing a layer
    layer.trainable = False

#Module to print colourful statements
from termcolor import colored

#Check which layers have been frozen 
for layer in model.layers:
  print (colored(layer.name, 'blue'))
  print (colored(layer.trainable, 'red'))

conv_1
False
max_1
False
drop_1
False
flatten_1
False
dense_1
True
drop_2
False
dense_2
True

## 11. Use the model trained on 0 to 4 digit classification and train it on the dataset which has digits 5 to 9  (Using Transfer learning keeping only the dense layers to be trainable)

In [18]:
x_train_5to9 = x_train_5to9.reshape(x_train_5to9.shape[0], 28, 28, 1)
x_test_5to9 = x_test_5to9.reshape(x_test_5to9.shape[0], 28, 28, 1)
x_train_5to9 = x_train_5to9.astype('float32')
x_test_5to9 = x_test_5to9.astype('float32')

#Normalizing the input
x_train_5to9 /= 255
x_test_5to9 /= 255
print('x_train shape:', x_train_5to9.shape)
print(x_train_5to9.shape[0], 'train samples')
print(x_test_5to9.shape[0], 'test samples')

import keras
batch_size = 128
num_classes = 5
epochs = 12
# convert class vectors to binary class matrices
y_train_5to9 = keras.utils.to_categorical(y_train_5to9, num_classes)
y_test_5to9 = keras.utils.to_categorical(y_test_5to9, num_classes)


model.fit(x_train_5to9,y_train_5to9,batch_size=200,nb_epoch=12,verbose=1,validation_data=(x_test_5to9,y_test_5to9))

('x_train shape:', (29404, 28, 28, 1))
(29404, 'train samples')
(4861, 'test samples')
Train on 29404 samples, validate on 4861 samples
Epoch 1/12
 4200/29404 [===>..........................] - ETA: 0s - loss: 1.2158 - acc: 0.6771

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:22: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
/usr/local/lib/python2.7/dist-packages/keras/engine/training.py:490: UserWarning: Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ?
  'Discrepancy between trainable weights and collected trainable'

29404/29404 [==============================] - 1s 38us/step - loss: 0.3478 - acc: 0.8996 - val_loss: 0.0726 - val_acc: 0.9759
Epoch 2/12
29404/29404 [==============================] - 1s 35us/step - loss: 0.1153 - acc: 0.9654 - val_loss: 0.0568 - val_acc: 0.9809
Epoch 3/12
29404/29404 [==============================] - 1s 35us/step - loss: 0.0826 - acc: 0.9755 - val_loss: 0.0426 - val_acc: 0.9852
Epoch 4/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0716 - acc: 0.9782 - val_loss: 0.0362 - val_acc: 0.9875
Epoch 5/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0624 - acc: 0.9810 - val_loss: 0.0349 - val_acc: 0.9875
Epoch 6/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0520 - acc: 0.9846 - val_loss: 0.0339 - val_acc: 0.9881
Epoch 7/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0466 - acc: 0.9861 - val_loss: 0.0313 - val_acc: 0.9881
Epoch 8/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0480 - acc: 0.9850 - val_loss: 0.0295 - val_acc: 0.9899
Epoch 9/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0379 - acc: 0.9879 - val_loss: 0.0297 - val_acc: 0.9897
Epoch 10/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0373 - acc: 0.9877 - val_loss: 0.0294 - val_acc: 0.9893
Epoch 11/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0327 - acc: 0.9890 - val_loss: 0.0268 - val_acc: 0.9909
Epoch 12/12
29404/29404 [==============================] - 1s 34us/step - loss: 0.0297 - acc: 0.9902 - val_loss: 0.0264 - val_acc: 0.9907

## 12. Print the accuracy for classification of digits 5 to 9

In [20]:
#Testing the model on test and train set
score = model.evaluate(x_test_5to9, y_test_5to9)
print('Test accuracy:', score[1])
score = model.evaluate(x_train_5to9, y_train_5to9)
print('Train accuracy:', score[1])

4861/4861 [==============================] - 0s 52us/step
('Test accuracy:', 0.9907426454358277)
29404/29404 [==============================] - 1s 50us/step
('Train accuracy:', 0.9975853625357094)

## Sentiment analysis <br> 

The objective of the second problem is to perform Sentiment analysis from the tweets data collected from the users targeted at various mobile devices.
Based on the tweet posted by a user (text), we will classify if the sentiment of the user targeted at a particular mobile device is positive or not.

### 13. Read the dataset (tweets.csv) and drop the NA's while reading the dataset

In [22]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:

Mounted at /gdrive

In [0]:
data = pd.read_csv('/gdrive/My Drive/tweets.csv')

In [28]:
data.shape

(9093, 3)

In [27]:
data.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
2033,#sxsw #evaporation @mention @mention Business ...,iPad or iPhone App,Positive emotion
494,I think I fell a bit more in love with #google...,Google,Positive emotion
2683,Is #Google launching a new social network toda...,NaN,No emotion toward brand or product
2578,"#sxsw hardware. iPad #rickshaw bag, #lunatik, ...",NaN,No emotion toward brand or product
5097,RT @mention @mention @mention at #sxsw: &quot;...,Apple,Positive emotion

In [0]:
data = data.dropna()

In [31]:
data.shape

(3291, 3)

In [32]:
data.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
5546,"RT @mention Before It Even Begins, #Apple Wins...",Apple,Positive emotion
467,"Before it even begins, Apple wins #SXSW {link}",Apple,Positive emotion
6956,RT @mention With 150 million mobile users on G...,Other Google product or service,Positive emotion
7950,Hey Marissa Mayer. Please tell us something ne...,Google,Negative emotion
8162,"&quot;At SXSW, Apple schools the marketing exp...",Apple,Positive emotion

### 14. Preprocess the text and add the preprocessed text in a column with name `text` in the dataframe.

In [0]:
def preprocess(text):
    try:
        return text.decode('ascii')
    except Exception as e:
        return ""

In [0]:
data['text'] = [preprocess(text) for text in data.tweet_text]

In [35]:
data.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product,text
5620,So @mention claims Android phones were everywh...,iPhone,Positive emotion,So @mention claims Android phones were everywh...
4580,@mention New iPad Apps For Speech Therapy And ...,iPad or iPhone App,Positive emotion,@mention New iPad Apps For Speech Therapy And ...
4721,"Anybody know whether I can nab white, 3G, 64GB...",iPad,Positive emotion,"Anybody know whether I can nab white, 3G, 64GB..."
1604,Woo hoo! @mention is finally back on the iPhon...,iPhone,Positive emotion,Woo hoo! @mention is finally back on the iPhon...
2432,#tech iPad 2 Gets Temporary #Apple_Store for #...,iPad,Positive emotion,#tech iPad 2 Gets Temporary #Apple_Store for #...

### 15. Consider only rows having Positive emotion and Negative emotion and remove other rows from the dataframe.

In [0]:
data = data[ (data["is_there_an_emotion_directed_at_a_brand_or_product"] == "Positive emotion") | (data["is_there_an_emotion_directed_at_a_brand_or_product"] == "Negative emotion")]

In [57]:
data.shape

(3191, 4)

### 16. Represent text as numerical data using `CountVectorizer` and get the document term frequency matrix

#### Use `vect` as the variable name for initialising CountVectorizer.

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None   ) 


train_data_features = vect.fit_transform(data.text)

In [78]:
train_data_features.shape

(3191, 5482)

In [0]:
# Numpy arrays are easy to work with, so convert the result to an 
# array
train_data_features = train_data_features.toarray()

### 17. Find number of different words in vocabulary

In [0]:
terms = vect.get_feature_names()

In [83]:
len(terms)

5482

#### Tip: To see all available functions for an Object use dir

### 18. Find out how many Positive and Negative emotions are there.

Hint: Use value_counts on that column

In [88]:
data["is_there_an_emotion_directed_at_a_brand_or_product"].value_counts()

Positive emotion    2672
Negative emotion     519
Name: is_there_an_emotion_directed_at_a_brand_or_product, dtype: int64

### 19. Change the labels for Positive and Negative emotions as 1 and 0 respectively and store in a different column in the same dataframe named 'Label'

Hint: use map on that column and give labels

In [0]:
data['Label'] = data["is_there_an_emotion_directed_at_a_brand_or_product"].map({'Positive emotion': '1', 'Negative emotion': '0'})

In [94]:
data.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product,text,Label
4975,@mention oh hey i remember that :) didn't even...,iPad,Positive emotion,@mention oh hey i remember that :) didn't even...,1
2105,Android party #sxsw (@mention Lustre Pearl Bar...,Android,Positive emotion,Android party #sxsw (@mention Lustre Pearl Bar...,1
2322,@mention Can not wait for #iPad 2 also. They s...,iPad,Positive emotion,@mention Can not wait for #iPad 2 also. They s...,1
7370,"Verizon IPhone at #SXSW = 5 bars, baby. Suck ...",iPhone,Positive emotion,"Verizon IPhone at #SXSW = 5 bars, baby. Suck ...",1
2632,One of the best photo apps for the iPhone ...,iPad or iPhone App,Positive emotion,,1

### 20. Define the feature set (independent variable or X) to be `text` column and `labels` as target (or dependent variable)  and divide into train and test datasets

In [0]:
X = train_data_features
Y = data['Label']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=7)

## 21. **Predicting the sentiment:**


### Use Naive Bayes and Logistic Regression and their accuracy scores for predicting the sentiment of the given text

In [0]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.linear_model import LogisticRegression

In [104]:
#Fit the model
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_predictTest=model.predict(x_test)

In [106]:
metrics.accuracy_score(y_test,y_predictTest)

0.7433489827856025

In [110]:
#Fit the model
model = LogisticRegression()
model.fit(x_train, y_train)

/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [112]:
y_predictTest=model.predict(x_test)
metrics.accuracy_score(y_test,y_predictTest)

0.863849765258216

## 22. Create a function called `tokenize_predict` which can take count vectorizer object as input and prints the accuracy for x (text) and y (labels)

In [0]:
def tokenize_predict(vect):
   X =  vect.fit_transform(data.text)
   x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=7)
   print('Features: ', x_train.shape[1])
   nb = MultinomialNB()
   nb.fit(x_train, y_train)
   y_pred_class = nb.predict(x_test)
   print('Accuracy: ', metrics.accuracy_score(y_test, y_pred_class))

### Create a count vectorizer function which includes n_grams = 1,2  and pass it to tokenize_predict function to print the accuracy score

In [0]:

from sklearn.feature_extraction.text import CountVectorizer

# Initialize the "CountVectorizer" object, which is scikit-learn's
# bag of words tool.  
vectorizer = CountVectorizer(analyzer = "word",   \
                             ngram_range=(1,2))

### Create a count vectorizer function with stopwords = 'english'  and pass it to tokenize_predict function to print the accuracy score

In [131]:
tokenize_predict(vectorizer)

('Features: ', 28958)
('Accuracy: ', 0.8652751423149905)

### Create a count vectorizer function with stopwords = 'english' and max_features =300  and pass it to tokenize_predict function to print the accuracy score

In [132]:
vectorizer = CountVectorizer(analyzer = "word",   \
                             stop_words = "english",   \
                             max_features = 300) 
tokenize_predict(vectorizer)

('Features: ', 300)
('Accuracy: ', 0.8358633776091081)

### Create a count vectorizer function with n_grams = 1,2  and max_features = 15000  and pass it to tokenize_predict function to print the accuracy score

In [133]:
vectorizer = CountVectorizer(analyzer = "word",   \
                             ngram_range=(1,2),   \
                             max_features = 15000) 
tokenize_predict(vectorizer)

('Features: ', 15000)
('Accuracy: ', 0.8595825426944972)

### Create a count vectorizer function with n_grams = 1,2  and include terms that appear at least 2 times (min_df = 2)  and pass it to tokenize_predict function to print the accuracy score

In [134]:
vectorizer = CountVectorizer(analyzer = "word",   \
                             ngram_range=(1,2),   \
                             min_df = 2) 
tokenize_predict(vectorizer)

('Features: ', 9914)
('Accuracy: ', 0.8425047438330171)